*{
    margin: 5px;
}

header{
    color: white;
}

body{
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: calibri;
}

nav{
    background-color:rgba(0, 236, 158,0.40);
    padding: 10px;
    justify-content: space-around;
    border-radius: 2px 6px 2px 6px;
    box-shadow: 0px 0px 10px rgb(127, 255, 212);
}

.navbar{
    color: white;
    background-color: rgba(139,0,0,0.40);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(255, 0, 179);
    box-shadow: 0px 0px 10px rgb(255, 0, 179);
}

.navbar:hover{
    background-color:rgba(12, 7, 56, 0.4);
    border: 1px solid rgb(12, 7, 56);
    box-shadow: 0px 0px 10px rgb(12, 7, 56);
}

.navbar:active{
    background-color: rgba(133, 13, 129, 0.4);
    border: 1px solid rgb(133, 13, 129);
    box-shadow: 0px 0px 10px rgb(133, 13, 129);
}

.boton-nav{
    background-color: rgba(139,0,0,0.40);
    color: white;
    padding: 10px 30px;
    border: 2px solid rgb(54, 0, 65);
    display: none;
}

.boton-nav:hover{
    background-color:rgba(12, 7, 56, 0.4);
}

.boton-nav:active{
    background-color: rgba(133, 13, 129, 0.4);
}

p{
    color: white;
}

.video{
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px silver;
}

h1{
    margin: 70px;
}

h2{
    color: white;
}

.presentacion{
    padding: 30px 100px;
    font-size: 18px;

}

.contenedor{
    margin: 30px auto;
    width: 90%;

}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.text-shadow{
    text-shadow: 2px 1px 1px black;
}

.text-align{
    text-align: justify;
}

.box{
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    width: 30%;
    background: rgba(21, 56, 7, 0.4);
    padding:20px;
    border: 1px solid rgb(9, 255, 0);
    box-shadow: 0px 0px 10px rgb(9, 255, 0);
    box-sizing: border-box;
}

.footer{
    background-color:rgba(0, 236, 158,0.40);
    border-radius: 2px 6px 2px 6px;
    box-shadow: 0px 0px 10px rgb(127, 255, 212);
    justify-content: space-around;
    margin: 10px;
    height: 70px;
    margin-bottom: 25px;
}

.contacto{
    color: white;
}

.redes{
    text-decoration: none;
    color: white;
    background-color: rgba(231, 16, 16, 0.4);
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(161, 8, 116);
    box-shadow: 0px 0px 10px rgb(161, 8, 116);
    padding: 5px;
}

ul{
    padding: 5px;
}

.creditos{
    padding: 5px;
}

.pie{
    padding: 10px;
    
}

/*Tamaños de dispositivos*/

@media (max-width:600px){
    nav{
        flex-direction: column;
    }
    .navbar{
        text-align: center;
        margin: 10px 0px;
    }
    .boton-nav{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
    .contenedor{
        flex-direction: column;
        
    }
    .presentacion{
        text-align: justify;
    }
    
}

@media (max-width:1300px){
    .box{
        margin: 10px auto;
        width: 60%;

    }
    .presentacion{
        padding: 40px;   
    }
}